footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-block: 24px;
    gap: 24px;

    font: 14px/150% var(--font-family);
}

footer span:nth-child(1) {
    margin-right: auto;
    padding-inline: 2rem;
}

@media (width < 80em) {
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}